body{
  background-color:white;
}
#nav{
  margin:0;
  background-color: whitesmoke;
}
#logo{
  max-width:100%;
  height:auto;
}
.col-md-4{
  padding-top: 15px;
}

#footer{
  max-width:100%;
  background-color: white;
}



